@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --bluewhite: #f3f5e7;
  --white: #ededed;
  --grey: #4a4a4a;
  --yellow: #e4d565;
  --purple: blueviolet;
  --blue: #40becd;
  --red: #cd4f40;
  --nav: 15px 40px;
}

/* For Smartphones */
@media only screen and (max-width: 670px) {
  header {
    width: 100%;
  }
  nav {
    width: 100%;
  }

  nav .logo {
    margin: 5px 5px 5px 15px;
  }

  #logo {
    width: 50px;
  }

  nav ul {
    line-height: 30px;
    margin: 0;
    padding-right: 0px;
  }

  nav ul li a {
    font-size: 12px;
  }

  #main
{
  background: var(--red);
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: center;
  text-align: center;
	height: 100%;
	color: var(--grey);
  padding: 10%;
  margin: 0%;
}

.dl-links img{
  display: block;
  height: auto;
  width: 150px;
  margin: 15px auto 15px auto;
  opacity: 0.6;
  transition: 0.3s;
}

.dl-links .vertical img{
  margin: 10px auto 10px auto;
  width:90px;
}

  .sys-tab li {
    transform: translateX(22px);
    display: block;
    margin: 0 15px 14px 15px;
  }
}



@media only screen and (max-width: 1024px) and (min-width: 671px) {
    header {
      width: 100%;
    }
    nav {
      width: 100%;
    }
  
    nav .logo {
      margin: 10px 10px 10px 20px;
    }
  
    #logo {
      width: 80px;
    }
  
    nav ul {
      line-height: 50px;
    }
  
    nav ul {
      line-height: 40px;
      margin: 0;
      padding-right: 0px;
    }
  
    nav ul li a {
      font-size: 16px;
    }

    #main
    {
      background: var(--red);
      justify-content: center;
      text-align: center;
      height: 100%;
      color: var(--grey);
      padding: 10%;
      margin: 0%;
    }
    
    .dl-links img{
      height: auto;
      display: block;
      width: 200px;
      margin: 20px auto 20px auto;
      opacity: 0.6;
      transition: 0.3s;
    }
    
    .dl-links .vertical img{
      margin: 25px auto 25px auto;
      width:180px;
    }
      .sys-tab li {
        transform: translateX(22px);
        display: block;
        margin: 0 15px 14px 15px;
      }
}

