@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --bluewhite: #f3f5e7;
  --white: #ededed;
  --grey: #4a4a4a;
  --yellow: #e4d565;
  --purple: blueviolet;
  --blue: #40becd;
  --red: #cd4f40;
  --nav: 15px 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, "Helvetica Neue", "Segoe UI", Arial,
    sans-serif;
  background: var(--white);
}
/* Header Navbar Start*/
header {
  width: 100%;
}

nav .logo {
  position: fixed;
  float: left;
  margin: var(--nav);
}

nav {
  position: fixed;
  width: 100%;
  line-height: 50px;
  background-color: var(--yellow);
}

nav ul {
  font-family: "Poppins", arial;
  line-height: 60px;
  color: var(--bluewhite);
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.blue ul {
  background: var(--bluewhite);
}

nav ul li {
  display: inline-block;
  padding: var(--nav);
}

nav ul li a {
  text-decoration: none;
  color: var(--grey);
  font-size: 16px;
}
/* Header Navbar End*/

/* Login Page Start */
.forms-section {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bluewhite);
  width: 100%;
}

.forms {
  display: flex;
  align-items: flex-start;
  padding-top: 50px;
  margin-top: 30px;
}

.form-wrapper {
  animation: hideLayer 0.3s ease-out forwards;
}

.form-wrapper.is-active {
  animation: showLayer 0.3s ease-in forwards;
}

@keyframes showLayer {
  50% {
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}

@keyframes hideLayer {
  0% {
    z-index: 1;
  }
  49.999% {
    z-index: 1;
  }
}

.switcher {
  position: relative;
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 0;
  text-transform: uppercase;
  font-family: "Poppins", arial;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: var(--grey);
  background-color: transparent;
  border: none;
  outline: none;
  transform: translateX(0);
  transition: all 0.3s ease-out;
}

.form-wrapper.is-active .switcher-login {
  color: var(--purple);
  font-size: 28px;
  transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
  color: var(--purple);
  font-size: 28px;
  transform: translateX(-90px);
}

.underline {
  position: absolute;
  bottom: -5px;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 2px;
}

.underline::before {
  content: "";
  position: absolute;
  top: 0;
  left: inherit;
  display: block;
  width: inherit;
  height: inherit;
  background-color: currentColor;
  transition: transform 0.2s ease-out;
}

.switcher-login .underline::before {
  transform: translateX(101%);
}

.switcher-signup .underline::before {
  transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
  transform: translateX(0);
}

.form {
  overflow: hidden;
  min-width: 260px;
  margin-top: 50px;
  padding: 30px 25px;
  border-radius: 15px;
  transform-origin: top;
}

.form-login {
  animation: hideLogin 0.3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
  animation: showLogin 0.3s ease-in forwards;
}

@keyframes showLogin {
  0% {
    background: var(--red);
    transform: translate(40%, 10px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    background-color: var(--blue);
    transform: translate(35%, -20px);
  }
}

@keyframes hideLogin {
  0% {
    background-color: var(--red);
    transform: translate(35%, -20px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    background: #bce8ee;
    transform: translate(40%, 10px);
  }
}

.form-signup {
  animation: hideSignup 0.3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
  animation: showSignup 0.3s ease-in forwards;
}

@keyframes showSignup {
  0% {
    background: var(--blue);
    transform: translate(-40%, 10px) scaleY(0.8);
  }
  50% {
    transform: translate(0, 0) scaleY(0.8);
  }
  100% {
    background-color: var(--red);
    transform: translate(-35%, -20px) scaleY(1);
  }
}

@keyframes hideSignup {
  0% {
    background-color: var(--blue);
    transform: translate(-35%, -20px) scaleY(1);
  }
  50% {
    transform: translate(0, 0) scaleY(0.8);
  }
  100% {
    background: #eec2bc;
    transform: translate(-40%, 10px) scaleY(0.8);
  }
}

.form fieldset {
  position: relative;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.form-login fieldset {
  transform: translateX(-50%);
}

.form-signup fieldset {
  transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.4s ease-in, transform 0.35s ease-in;
}

.form legend {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.input-block {
  margin-bottom: 20px;
}

.input-block label {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  color: var(--grey);
}

.input-block input {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
  color: var(--grey);
  background: var(--white);
  border: 1px solid var(--white);
  border-radius: 10px;
}

.form .btn-login {
  text-decoration: none;
  padding: 0px 15px;
  font-size: medium;
  font-family: "Poppins", Arial;
  color: var(--white);
  background-color: var(--red);
  border: 4px solid var(--red);
  border-radius: 6px;
  opacity: 0;
  display: inline-block;
  transition: all 0.3s ease 0s;
  display: block;
  min-width: 120px;
  margin: 30px auto 10px;
}

.form .btn-login:hover {
  color: var(--yellow);
  background-color: #cd4078;
  border-radius: 50px;
  border-color: #cd4078;
  transition: all 0.3s ease 0s;
}

.form-wrapper.is-active .form [type="submit"] {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s ease-in;
}

.form .btn-signup {
  text-decoration: none;
  padding: 0px 15px;
  font-size: medium;
  font-family: "Poppins", Arial;
  color: var(--white);
  background-color: var(--blue);
  border: 4px solid var(--blue);
  border-radius: 6px;
  display: inline-block;
  opacity: 0;
  transition: all 0.3s ease 0s;
  display: block;
  min-width: 120px;
  margin: 30px auto 10px;
}

.form .btn-signup:hover {
  color: var();
  background-color: goldenrod;
  border-radius: 50px;
  color: var(--grey);
  border-color: goldenrod;
  transition: all 0.3s ease 0s;
}

/* Login Page Start */

/* Image Start*/
.bg-image .image-right {
  float: right;
  position: absolute;
  top: 200px;
  right: 120px;
  z-index: 0;
}

.bg-image .image-left {
  float: left;
  position: absolute;
  top: 200px;
  left: 50px;
  z-index: 0;
}
/* Image End*/ ;
